.slide > img {
  width: 100%;
  min-height: 250px;
}
.content.abs {
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40%;
}
.slide .content .heading {
  font-size: 2em;
}
.next,
.prev {
  border-radius: 50%;
  padding: 10px 13px;
  top: 50%;
  z-index: 2;
  text-decoration: none;
  background: #d16667;
  color: white;
  transition: all 0.4s;
}
.next {
  right: 5%;
}
.prev {
  left: 5%;
}
.lStory, .l-news {
  margin: 60px 5px;
  padding: 10px;
}
.lStory .left,
.l-news .left {
  width: 55%;
}
.lStory .left img,
.l-news .left img {
  width: 100%;
}
.lStory .right,
.l-news .right {
  width: 45%;
  align-items: center;
}
.content p.heading {
  font-size: 2em;
}
.right .content .btn {
  margin-top: 20px;
}
.shop, .featured-p, .new-p, .brand-slide {
  text-align: center;
}
.shop .hrBar,
.featured-p .hrBar,
.new-p .hrBar {
  margin: auto;
  overflow: hidden;
}
.shop .forScroll,
.new-p .forScroll,
.brand-slide .forScroll {
  margin: 30px 5px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.shop .img-container {
  flex-wrap: nowrap;
  width: 350%;
  justify-content: space-evenly;
  overflow: hidden;
}
.shop .img-container .image {
  width: 9%;
  position: relative;
}
.shop .img-container img,
.brand-slide .brandContainer img {
  width: 100%;
}
.shop .descrip {
  bottom: 0;
  left: 0;
  background: white;
  transition: all 0.2s ease-in-out;
}
.shop .image:hover .descrip {
  bottom: 15px;
  left: 15px;
}
.descrip span.ver-bar {
  padding: 5px;
  font-size: medium;
  font-weight: bold;
  color: #d16667;
}
.descrip span.ver-bar::after {
  right: 100%;
  height: 15px;
}
body > .hrBar {
  width: 100%;
  height: 1px;
  margin: 40px auto;
  background-color: #ccc;
}
.spcl-feature {
  justify-content: space-evenly;
  color: gray;
}
.spcl-feature .bold {
  color: black;
}
.spcl-item .left {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: xx-large;
  transition: all 0.2s;
}
.spcl-feature .spcl-item:hover .left,
.spcl-feature .spcl-item:hover .right .bold {
  color: #d16667;
  transform: rotate3d(1,1,1,359deg);
}

.poster {
  text-align: center;
  background-image: url(../img/parallax-.jpg);
  padding: 100px 0;
  color: white;
  font-size: xx-large;
}
.poster .heading {
  font-size: 2em;
}
.new-p .prodContainer,
.brand-slide .brandContainer {
  width: 200%;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  overflow: hidden;
}
.new-p .prodContainer .prod {
  width: 10%;
  position: inherit;
}
.card {
  margin: 10px 0;
  padding: 30px 20px;
  transition: all 0.2s;
  width: 100%;
}
.content .card {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.card:hover {
  box-shadow: 0 0 20px -9px #8a8a8a;
}
.card .date {
  width: 20%;
}
.card .date::after {
  content: '';
  position: absolute;
  width: 2%;
  height: 75%;
  right: -30px;
  top: 0;
  background-color: gray;
}
.card .content {
  width: 60%;
  transition: all 0.2s;
}
.card .content > p > a:hover {
  color:#d16667;
}
@media screen and (max-width:700px) {
  .slidesContainer .slide .content,
  .slidesContainer .slide .content .heading {
    font-size: medium;
  }
}
@media screen and (max-width:600px) {
  .shop .img-container {
    width: 800%;
  }
  .new-p .prodContainer {
    width: 500%;
  }
  .brand-slide .brandContainer {
    width: 400%;
  }
}
@media screen and (max-width: 750px) {
  .lStory .left,
  .l-news .left {
    width: 80%;
    margin: auto;
  }
  .lStory .right,
  .l-news .right {
    width: 100%;
    text-align: center;
  }
  .hrBar {
  margin: 2px auto !important;
  }
}
@media screen and (max-width: 500px) {
  .spcl-item {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .content .card {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .l-news .right .card .date::after{
    display: none;
  }
  .l-news .right .card .date,
  .l-news .right .card .content {
    width: 80%;
  }
}






/* Cutting and Delivery */
.img{
  height: 150px;
}
.htag{
  margin-top: 4px;
  font-size: 45px;
  font-weight:300;
  /* font-family: 'Merienda', cursive; */
}
.itag{
  font-size: 35px;
  font-weight: 300;
  /* font-family: 'Merienda', cursive; */
}
.ptag{
  /* font-weight: 600; */
  padding: 6px;
  font-family: serif;
/*     font-size: 1.5vw; */
  color: #5e5e5e;
}
.h3tag{
  margin: 8px;
  /* font-family: 'Merienda', cursive; */
}
.image{
   width:500px;
}
.hrtag{
  border:1px solid #d16667
}
.imagee{
  width: 100%;
  height: 600px;
}
.dream{
  position: relative;
}
.locate{
  position:absolute;
  width: 50%;
  height: 400px;
  border: 1px solid wheat;
  background-color:white;
   right: 25%;
   left: 25%;
   bottom: 20%;
   text-align: center;
}
#htag{
  margin-top:55px;
  font-size: 50px;
  font-weight: 400;
  /* font-family: 'Merienda', cursive; */
}
#itag{
  font-size: 45px;
  font-weight:300;
  margin-top:20px; 
  font-family: serif;
}
.btn.btn-outline-secondary.hove{
  padding:4px 20px;
  margin-top: 25px;
  background-color:#d16667;
  color: white;
  font-size: 20px;

}
.btn.btn-outline-secondary.hove:hover{
  background-color: grey;
}
.h1tag{
/*     margin-top:70px; */
  font-size: 50px;
  font-weight: 400;
  /* font-family: 'Merienda', cursive; */
}
/* .itags{
  font-size: 45px;
  font-weight:300;
  margin-top:10px; 
} */
.hrtae{
  border:3px solid #d16667;
}
.itah{
  font-size: 25px;
  font-weight: 400;
  /* font-family: cursive; */
}

/* Responsive design */
@media (max-width: 800px) {
   .image{
       width: 100%;
   }
  .d-flex.justify-content-start.mb-3.or{
      flex-direction: column;
  }
  .p-2.c{
      order:2;
  }
  .p-2.d{
      order:1;
  }
  .locate{
      width: 70%;
      left: 10%;

  }
  #htag{
      font-size: 40px;
      padding:4px 0;
  }
  .d-flex.flex-row.ml-2.or{
      flex-direction: column !important;
      margin:10px 0 !important;
      width: 100%;
  }
  .card.ml-4.text-center.or{
      margin: 10px 0 !important;
      width: 100% !important;
  }
}


/* Highest Quality */
.shipping{
  display: inline-flex;
}

/* collapsible css */
.collapsible {
  background-color: rgb(172, 172, 172);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #d16667;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}